.dosis{
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ion-content{
    background-color: #3023AE !important;
    background: linear-gradient(60deg, #3023AE 0%, #c86dd7 100%) !important;
    //filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#3023AE', endCo);
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-align: center;
    display: flex;
}

ion-list{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

ion-input{
    background-color: transparent !important;
    border-bottom: 1px solid #dbdbdb;
    // border-radius: 3px;
    color: #fff;
    margin-bottom: 10px;
    text-indent: 5px;
}